body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  width: 100%;
}

/* nunito-sans-300 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./font/nunito-sans-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/nunito-sans-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/nunito-sans-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/nunito-sans-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./font/nunito-sans-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/nunito-sans-v6-latin-300.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./font/nunito-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/nunito-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/nunito-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/nunito-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/nunito-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/nunito-sans-v6-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
